.App {
  text-align: center;
}

body{
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

button:focus {outline:0;}

.App-intro {
  font-size: large;
}

@keyframes keyFade {
    from {background-color: #4CAF50;}
    to {background-color: #4B0082;}
}

.key {
  border: rounded;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.key.true {
    background-color: #4CAF50; /* Green */
    animation-name: keyFade;
    animation-duration: 3s;
}

.key.false {
    background-color: #4B0082; /* Purple */
}